.header-msg
  .row
    .column
      = render "partials/flashes"
      %h1 Edit Photo Information
.main-content-container
  .row
    .column
      = image_tag @photo.image.large.url
  .row
    .columns.medium-6
      = render "partials/photoform"
